body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
button {
    margin: 10px 10px 0 0;
    padding: 10px 15px;
    cursor: pointer;
}

#color-box {
    width: 600px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #000;
    display: flex;
    text-align: center;
    align-items: center;

}

#color-box p {
    margin: 0 auto;
    font-size: 20px;
    color: #383838;

}
  